

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: Roboto,sans-serif;
  letter-spacing: 0px;
  text-align:left;
  color: #3b3d42;
  font-size: 100%;
  background-image: url(img\gabriela-foto.jpg);
  background-repeat: no-repeat;
  background-position: left 3rem;
  background-size: auto;


}

h1{
  color: #333;
  font-family: "Playfair Display",Sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2em;
}

.cabeçalho-1{
  display: flex;
  background-color: rgb(54, 54, 54);
  justify-content: space-evenly;
  padding: 15px 0;

  
  
 

}



ion-icon {
  font-size: 20px;
  
}

.c-icon-esquerda{
  display: flex;
  justify-content:flex-start;
  gap: 20px 200px;
  color: rgb(173, 166, 166);
}


.Icon{

  align-items:center;

}
.c-icon{
  display: flex;
  gap: 20px 30px;
  color: rgb(173, 166, 166);
  align-items:center;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
 
  margin-right: 4rem;
  margin-left: 4rem;
  padding: 2rem;
}



.logo img{
  
  margin-top: 0rem;
  display: flex;
  justify-content:center;
  }

  ul{
  display: flex;
  list-style: none;
  gap: 3.5rem;
  justify-content: flex-end;

  }
  
  ul li a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-family: "Montserrat",Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .8px;


  }

  ul li a:hover{
      color:rgb(143, 35, 35);
  }


.Principal{

  display: flex;
  justify-content: flex-end;
  align-content:center;
  padding: 200px 0;
  flex-wrap: wrap;
  margin-right: 5rem;
}
.texto2{
  color:rgb(56, 7, 7);

}
.sessao2{

    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: -4rem;   
    gap: 10px;
   
    }



.quadrado1{
  background-color:  rgb(54, 54, 54);
  width: 450px;
  height: 300px;
  flex-basis: auto;

}

.quadrado2{
  background-color:   rgb(54, 54, 54);
  width: 450px;
 height: 300px;
 flex-basis: auto;

}
.quadrado3{
  background-color:  rgb(54, 54, 54);
  width: 450px;
  height: 300px;
  flex-basis: auto;

}